<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Gudle Master</title>
</head>
    
<body>
  <nav class="navbar">

    <div class="navbar__logo">
      <i class="fas fa-blog"></i>
      <a href="">안병연 구들명가</a>
    </div>

    <ul class="navbar__menu">
      <li><a href="#">홈</a></li>
      <li><a href="#">갤러리</a></li>
      <li><a href="#">블로그</a></li>
      <li><a href="#">친구들</a></li>
      <li><a href="#">예약문의</a></li>
    </ul>

    <ul class="navbar__icons">
      <li><i class="fab fa-google"></i></li>
      <li><i class="fab fa-slack"></i></li>
    </ul>
    
  </nav>
</body>
</html>